.root {
  beige: var(#FCF7E6)
}

.NavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  color: beige;
}

.NavBar a {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: beige;
}

hr {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 2em;
  font-weight: bold;
}